extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jack Wiley

        
        p.lead.text-light
          |Aerospace Engineering

        .portfolio-bio
          p
          | I'm student at Csn in the class of 2020
          |I am in Advanced topics in computer science learning these technologies. I plan doing aerospace engineering in college next year.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Languages

        ul
          li JavaScript
          li HTML
          li CSS
          li Pyhton

        h6 Technologies

        ul
          li Express
          li Pug
          li Django

        h6 Contact Info

        ul
          li jack.wiley10@gmail.com

      
        a.button.expanded(href='https://github.com/jwiley25') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
